@import url("reset.css");
@import url("header.css");
@import url("home.css");
@import url("session.css");

/* html {
  background-color: #f2a900;
} */

body {
  background: linear-gradient(70deg, #29322e, #343b3a 55%, #505852);
  height: -webkit-fill-available;
}