.site-header {
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #f2a900;
  color: white;
  font-family: 'Teko';
}

.site-header .home-link {
  background: #f2a900;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  text-decoration: none;
}

.site-header .home-link section .logo {
  font-size: 42px;
  user-select: none;
}

.site-header .session-buttons {
  background: #f2a900;
  height: 100%;
  display: flex;
}

.site-header .session-buttons li {
  font-size: 28px;
  color: white;
  height: 100%;
  min-width: 105px;
  padding: 0 30px;
  transition: background .3s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-header .session-buttons li:hover {
  background: #d69500;
  cursor: pointer;
}

.site-header .session-buttons a {
  color: white;
  text-decoration: none;
}

.site-header-current-user {
  height: 100%;
  max-width: 120px;
  min-width: 120px;
  position: relative;
}

.site-header-current-user:hover {
  background: #d69500;
  cursor: pointer;
}

.site-header-current-user h1 {
  margin: auto 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  user-select: none;
}

.user-dropdown {
  position: absolute;
  height: 200px;
  width: 110px;
  background: white;
  color: black;
  bottom: -200px;
  display: none;
  font-size: 20px;
  text-align: center;
  user-select: none;
}

@media screen and (max-width: 500px) {
  .site-header {
    height: 15vw;
  }

  .site-header .home-link {
    padding: 0 5.5vw;
  }
  
  .site-header .home-link section .logo {
    font-size: 8vw;
  }
  
  .site-header .session-buttons li {
    font-size: 5vw;
    padding: 0 4.3vw;
    min-width: 15vw;
  }

  .site-header-current-user {
    min-width: 30vw;
    max-width: 30vw;
  }

  .site-header-current-user h1 {
    font-size: 5vw;
  }

  .user-dropdown {
    height: 30vw;
    width: 25vw;
    bottom: -30vw;
    font-size: 4vw;
    text-align: center;
  }
}