.splash-logo {
  font-family: 'Teko';
  font-size: 70px;
  color: white;
  text-align: center;
  margin-top: 115px;
}

.home-player-search {
  margin: 20px auto;
  width: 600px;
}

.home-player-search div {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 3px;
}

.home-player-search label {
  display: none;
}

.player-search-input {
  font-family: 'Roboto';
  font-size: 24px;
  height: 40px;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
}

.player-search-input::placeholder {
  color: rgb(143, 143, 143);
}

.player-search-submit {
  height: 40px;
  font-family: 'Teko';
  font-size: 30px;
  color: white;
  background: #f2a902;
  border: none;
  border-radius: 3px;
  padding: 0 10px;
  outline: none;
}

.player-search-submit:hover {
  cursor: pointer;
  background: #d69500;
}