

.splash-logo {
  font-family: 'Teko';
  font-size: 70px;
  color: white;
  text-align: center;
  padding-top: 115px;
}

.home-player-search {
  margin: 20px auto;
  width: 600px;
}

.home-player-search div {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 3px;
}

.home-player-search label {
  display: none;
}

.player-search-input {
  font-family: 'Roboto';
  font-size: 24px;
  height: 40px;
  width: 100%;
  padding: 0;
  padding-right: 2vw;
  border: none;
  outline: none;
}

.player-search-input::placeholder {
  color: rgb(143, 143, 143);
}

.player-search-submit {
  height: 40px;
  font-family: 'Teko';
  font-size: 30px;
  color: white;
  background: #f2a902;
  border: none;
  border-radius: 3px;
  padding: 0 10px;
  outline: none;
}

.player-search-submit:hover {
  cursor: pointer;
  background: #d69500;
}

.empty-field-error {
  font-family: 'Teko';
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

@media screen and (max-width: 700px) {
  .splash-logo {
    font-size: 15vw;
    padding-top: 15vw;
  }

  .home-player-search {
    margin: 3vw auto;
    width: 85vw;
  }

  .home-player-search div {
    padding: 1.5vw 2vw;
  }

  .player-search-input {
    font-size: 4.5vw;
    height: 8vw;
  }

  .player-search-submit {
    font-size: 6vw;
    height: 8vw;
    padding: 0 1.5vw;
  }
  
  .empty-field-error {
    font-size: 5vw;
    margin-top: 4vw;
  }
}