.match-show-container {
  margin: 50px auto;
  width: 75vw;
}

.match-error {
  margin: 50px auto;
  width: 75vw;
  font-family: 'Teko';
  color: white;
}

.match-error h1 {
  font-size: 60px;
}

.match-error h2 {
  font-family: 'Roboto';
  font-size: 18px;
}

.match-show-header {
  color: white;
}

.match-show-header .match-show-time {
  font-family: 'Teko';
  font-size: 60px;
}