.player-stats-container {
  margin: 50px auto;
  width: 70vw;
}

.player-header {
  width: 100%;
}

.player-header h1 {
  font-family: 'Teko';
  font-size: 60px;
  color: white;
}

.player-header h3 {
  font-family: 'Roboto';
  font-size: 18px;
  color: white;
}

.player-match-history-list {
  margin-top: 50px;
}

#player-match {
  font-family: 'Montserrat';
  background: #e1e4e3;
  color: black;
  font-size: 28px;
  margin: 30px 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

#player-match div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.5em;
}

.match-attributes {
  font-size: 24px;
  font-weight: 700;
}

.player-attributes {  
  font-size: 20px;
  font-weight: 600;
}

.player-stats {
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 700px) {
  .player-stats-container {
    margin: 7vw auto;
    width: 90vw;
  }

  .player-header {
    text-align: center;
  }

  .player-header h1 {
    font-size: 12vw;
  }

  .player-header h3 {
    font-size: 3vw;
  }

  .player-match-history-list {
    margin-top: 6vw;
  }

  #player-match {
    font-size: 4.3vw;
    margin: 4vw 0;
    padding: 4vw;
  }

  #player-match div {
    flex-direction: column;
  }

  .match-attributes {
    font-size: 4.5vw;
  }

  .player-attributes {
    font-size: 4vw;
  }

  .player-stats {
    font-size: 4vw;
  }
}

.match-history-loading {
  font-family: 'Teko';
  font-size: 40px;
  text-align: center;
  color: white;
}