.player-stats-container {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 70vw;
  -webkit-tap-highlight-color: transparent;
}

.player-header {
  width: 100%;
}

.player-header h1 {
  font-family: 'Teko';
  font-size: 60px;
  color: white;
}

.player-header h3 {
  font-family: 'Roboto';
  font-size: 18px;
  color: white;
}

.player-update-button {
  margin: 10px 0;
  border: none;
  border-radius: 3px;
  width: 125px;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
  background: #f2a902;
  color: white;
  outline: none;
}

.player-update-button:hover {
  background: #d69500;
  cursor: pointer;
}

.disabled {
  background: gray;
}

.disabled:hover {
  background: gray;
  cursor: default;
}

.player-match-history-list {
  margin-top: 50px;
}

.player-match {
  font-family: 'Montserrat';
  background: #e1e4e3;
  color: black;
  font-size: 28px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  user-select: none;
  border: 5px solid;
  /* border-image: linear-gradient(to bottom, #ffb200, #fee659) 1 stretch; */
}

.player-match div {
  display: flex;
  justify-content: space-between;
  line-height: 1.5em;
}

.match-attributes {
  font-size: 24px;
  font-weight: 700;
  padding: 30px;
}

.match-attributes:hover {
  cursor: pointer;
}

.match-attributes h2 {
  font-size: 18px;
}

.player-attributes {  
  font-size: 20px;
  font-weight: 600;
}

.player-stats {
  font-size: 20px;
  font-weight: 500;
}

.stats-dropdown {
  animation-name: slide-down;
  animation-duration: .2s;
  overflow: hidden;
}

@keyframes slide-down {
  from {height: 0}
  to {height: 162px}
}

.stats-dropdown section:hover {
  cursor: default;
}

.stats-dropdown-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.stats-dropdown-tabs div {
  flex-direction: column;
  align-items: center;
  width: 50%;
  font-weight: 600;
  padding: 10px 0;
  font-size: 26px;
}

.stats-dropdown-player-button {
  background: lightgray;
}

.stats-dropdown-player-button:hover {
  cursor: pointer;
  background: lightgray;
}

.stats-dropdown-team-button:hover {
  cursor: pointer;
  background: lightgray;
}

.stats-dropdown-player {
  background: lightgray;
  padding: 30px;
}

.stats-dropdown-team {
  background: lightgray;
  padding: 30px;
  font-size: 18px;
}

.team-member-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team-member-stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-member-stats li span {
  padding-top: 10px;
}

.team-member-stats h2 {
  font-size: 20px;
  font-weight: 700;
}

.team-member-name {
  font-weight: 500;
}

.team-member-name span a {
  color: black;
  text-decoration: none;
}

.team-member-name span a:hover {
  text-decoration: underline;
  color: #f2a900;
}

.player-errors {
  color: whitesmoke;
  margin: 50px auto;
  width: 70vw;
}

.player-error-title {
  font-family: 'Teko';
  font-size: 60px;
}

.player-error-detail {
  font-family: 'Roboto';
  font-size: 18px;
}

.match-history-loading {
  font-family: 'Teko';
  font-size: 40px;
  text-align: center;
  color: white;
}

.player-loading {
  font-family: 'Teko';
  font-size: 40px;
  color: white;
  margin: 50px;
}

@media screen and (max-width: 700px) {
  .player-stats-container {
    margin: 7vw auto;
    padding-bottom: 20vw;
    width: 90vw;
  }

  .player-header {
    text-align: center;
  }

  .player-header h1 {
    font-size: 12vw;
  }

  .player-header h3 {
    font-size: 3vw;
  }

  .player-update-button {
    margin: 3vw 0;
    width: 30vw;
    height: 9vw;
    font-size: 3.5vw;
  }

  .player-match-history-list {
    margin-top: 6vw;
  }

  .player-match {
    font-size: 4.3vw;
    margin: 4vw 0;
    border: 1vw solid;
    /* border-image: linear-gradient(to bottom, #ffb200, #fee659) 1 stretch; */
  }

  .match-attributes {
    flex-direction: row;
    font-size: 4vw;
    padding: 4vw;
  }

  .match-attributes h2 {
    font-size: 3.5vw;
  }

  .player-attributes {
    flex-direction: column;
    font-size: 4vw;
  }

  .player-stats {
    flex-direction: column;
    font-size: 4vw;
  }

  .stats-dropdown-tabs div {
    font-size: 4vw;
    padding: 2vw 0;
  }

  .stats-dropdown-player {
    padding: 4vw;
    text-align: center;
  }

  .stats-dropdown-team {
    font-size: 3.5vw;
    padding: 4vw 3vw;
  }

  .team-member-stats li span {
    padding-top: 2vw;
  }
  
  .team-member-stats h2 {
    font-size: 3.5vw;
  }

  .match-history-loading {
    font-size: 10vw;
  }

  .player-loading {
    font-size: 10vw;
    margin: 10vw;
  }
}