.player-stats-container {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 75vw;
  -webkit-tap-highlight-color: transparent;
}

.player-header {
  width: 100%;
}

.player-header h1 {
  font-family: 'Teko';
  font-size: 60px;
  color: white;
}

.player-header h3 {
  font-family: 'Roboto';
  font-size: 18px;
  color: white;
}

.player-update-button {
  margin: 10px 0;
  border: none;
  border-radius: 3px;
  width: 125px;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
  background: #f2a902;
  color: white;
  outline: none;
}

.player-update-button:hover {
  background: #d69500;
  cursor: pointer;
}

.disabled {
  background: gray;
}

.disabled:hover {
  background: gray;
  cursor: default;
}

.player-match-history-list {
  margin-top: 50px;
}

.player-match {
  font-family: 'Montserrat';
  background: #e1e4e3;
  color: #244a37;
  font-size: 28px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  user-select: none;
  border: 8px solid;
  border-top: none;
  border-bottom: none;
}

.player-match .match-attributes {
  display: flex;
  justify-content: space-between;
  line-height: 1.5em;
  font-size: 24px;
  font-weight: 700;
  padding: 20px;
  text-align: center;
}

.match-attributes:hover {
  cursor: pointer;
}

.match-time {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.match-time h2 {
  font-size: 16px;
  font-weight: 500;
}

.match-attributes .match-finish-place {
  width: 20%;
  margin: auto 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.match-finish-place h1 {
  font-size: 32px;
  font-weight: 700;
}

.match-finish-place h2 {
  font-size: 22px;
  font-weight: 400;
}

.match-details {
  width: 35%;
  font-weight: 700;
}

.match-details h5 {
  font-size: 16px;
  font-weight: 500;
}

.placement-message {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Teko';
  color: #f2a902;
}

.player-attributes {  
  font-weight: 500;
}

.player-stats {
  font-weight: 500;
}

.stats-dropdown {
  animation-name: slide-down;
  animation-duration: .2s;
  overflow: hidden;
}

@keyframes slide-down {
  from {height: 0}
  to {height: 205px}
}

.stats-dropdown section:hover {
  cursor: default;
}

.stats-dropdown-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.stats-dropdown-tabs div {
  flex-direction: column;
  align-items: center;
  width: 50%;
  font-weight: 600;
  padding: 10px 0;
  font-size: 26px;
  text-align: center;
}

.stats-dropdown-player-button:hover {
  cursor: pointer;
  background: #cccccc;
}

.stats-dropdown-team-button:hover {
  cursor: pointer;
  background: #cccccc;
}

.stats-dropdown-player-button-clicked {
  background: lightgray;
}

.stats-dropdown-team-button-clicked {
  background: lightgray;
}

.stats-dropdown-player {
  background: lightgray;
  padding: 30px;
  line-height: 1.5;
  font-size: 18px;
}

.stats-dropdown-player div {
  display: flex;
  justify-content: space-between;
}

.stats-dropdown-team {
  background: lightgray;
  padding: 30px;
  font-size: 16px;
  font-weight: 500;
}

.team-member-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.team-member-stats li {
  display: flex;
  flex-direction: column;
}

.team-member-stats li span {
  padding-top: 10px;
}

.team-member-stats h2 {
  font-size: 16px;
  font-weight: 700;
}

.team-member-name {
  font-weight: 500;
  text-align: left;
  width: 30%;
}

.team-member-name span a {
  color: #244a37;
  text-decoration: none;
}

.team-member-name span a:hover {
  text-decoration: underline;
  color: #f2a900;
}

/* .team-member-kills {
  width: 18%;
  text-align: center;
}

.team-member-damage {
  width: 18%;
  text-align: center;
}

.team-member-assists {
  width: 18%;
  text-align: center;
}

.team-member-time-survived {
  width: 18%;
  text-align: center;
}

.team-member-dbno {
  width: 18%;
  text-align: center;
} */

.team-member-stat-column {
  width: 18%;
  text-align: center;
}

.player-errors {
  color: whitesmoke;
  margin: 50px auto;
  width: 70vw;
}

.player-error-title {
  font-family: 'Teko';
  font-size: 60px;
}

.player-error-detail {
  font-family: 'Roboto';
  font-size: 18px;
}

.match-history-loading {
  font-family: 'Teko';
  font-size: 40px;
  text-align: center;
  color: white;
}

.player-loading {
  font-family: 'Teko';
  font-size: 40px;
  color: white;
  margin: 50px;
}

.win {
  border-image: linear-gradient(to bottom, #7ab4698a, #3d9938a8) 1 stretch;
}

.top-10 {
  border-image: linear-gradient(to bottom, #42c7f491, #5497c2de) 1 stretch;
}

.lose {
  border-image: linear-gradient(to bottom, #f87f7f8f, #f62e3394) 1 stretch;
}

@media screen and (max-width: 700px) {
  .player-stats-container {
    margin: 7vw auto;
    padding-bottom: 20vw;
    width: 100vw;
  }

  .player-header {
    text-align: center;
  }

  .player-header h1 {
    font-size: 12vw;
  }

  .player-header h3 {
    font-size: 3vw;
  }

  .player-update-button {
    margin: 3vw 0;
    width: 30vw;
    height: 9vw;
    font-size: 3.5vw;
  }

  .player-match-history-list {
    margin-top: 6vw;
  }

  .player-match {
    font-size: 4.3vw;
    margin: 4vw 0;
    border: 1vw solid;
  }

  .player-match .match-attributes {
    flex-direction: row;
    font-size: 4vw;
    padding: 3vw;
  }


  .match-time h2 {
    font-size: 3vw;
  }

  .match-finish-place h1 {
    font-size: 6vw;
  }
  
  .match-finish-place h2 {
    font-size: 4vw;
  }

  .match-details h5 {
    font-size: 3vw;
  }

  .placement-message {
    font-size: 5vw;
  }

  .player-attributes {
    flex-direction: column;
  }

  .player-stats {
    flex-direction: column;
  }

  .stats-dropdown-tabs div {
    font-size: 4vw;
    padding: 2vw 0;
    text-align: center;
  }

  .stats-dropdown-player {
    padding: 4vw;
    text-align: center;
    font-size: 4vw;
  }

  .stats-dropdown-team {
    font-size: 3vw;
    padding: 3vw;
  }

  .team-member-stats li span {
    padding-top: 2vw;
  }
  
  .team-member-stats h2 {
    font-size: 2.5vw;
    height: 3vw;
  }

  .match-history-loading {
    font-size: 10vw;
  }

  .player-loading {
    font-size: 10vw;
    margin: 10vw;
  }

  .win {
    border-image: linear-gradient(to bottom, #7ab4698a, #3d9938a8) 1 stretch;
  }
  
  .top-10 {
    border-image: linear-gradient(to bottom, #42c7f491, #5497c2de) 1 stretch;
  }
  
  .lose {
    border-image: linear-gradient(to bottom, #f87f7f8f, #f62e3394) 1 stretch;
  }

  @keyframes slide-down {
    from {height: 0}
    to {height: 191px}
  }
}