.session-form-container {
  height: 100%;
}

.session-form {
  font-family: 'Teko';
  width: 400px;
  margin: 0 auto;
  padding: 5em;
  display: flex;
  flex-direction: column;
  /* border: 2px solid;
  border-color: #f2a900;
  background: linear-gradient(to right, #29322e 50%, #3e4440); */
  color: white;
}

.session-form h1 {
  font-size: 40px;
  text-align: center;
}

.session-form label {
  font-size: 26px;
}

.session-input {
  font-family: 'Roboto';
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  color: white;
  background: #48483e;
  border: solid 2px #f2a900;
  transition: border-color 0s;
  outline: none;
}

.session-submit {
  font-family: 'Teko';
  background: #f2a900;
  color: white;
  font-size: 30px;
  border: none;
  padding: 5px;
  margin-top: 20px;
  outline: none;
}

.session-submit:hover {
  background: #d69500;
  cursor: pointer;
}

.session-submit:disabled {
  background: #535252;
  color: #a09f9f;
}

.session-input:focus {
  background: linear-gradient(to bottom, #48483e, #5f5f5a);
    border-image: linear-gradient(to bottom, #ffb200, #fee659) 1 stretch;
}

.session-errors-list {
  font-size: 22px;
  margin-top: 15px;
  color: #ef4c4c;
}

.session-switch {
  color: white;
  font-size: 22px;
  margin-top: 15px;
}

@media screen and (max-width: 500px) {
  .session-form {
    width: 60%;
    margin: 0 auto;
    padding: 15vw;
  }

  .session-form h1 {
    font-size: 9vw;
  }

  .session-form label {
    font-size: 6vw;
  }
  
  .session-input {
    font-size: 4vw;
    padding: 2vw;
    margin-top: 2vw;
  }

  .session-submit {
    font-size: 6vw;
    margin-top: 2vw;
    padding: 1vw;
  }

  .session-errors-list {
    font-size: 4vw;
    margin-top: 5vw;
    color: #ef4c4c;
  }

  .session-switch {
    font-size: 5vw;
    margin-top: 1vw;
  }
}